<h3>Large Deals</h3>
<div id="todo-tables">
<table class="table_liquid" cellspacing="0">
    <caption></caption>
      <tr>
		<%= render :partial => "todo_columns", :locals => {:assignee_name => ""} %>

      </tr>

		<% @todos.select{|t| t.contact.big_potential_deal? && t.next_action_id && t.contact_id && t.next_action.requires_phone_call && t.done != true && (t.assigned_to == current_user.id || [1,2,7].include?(current_user.id) ) }.sort{|x,y| x.followup_date <=> y.followup_date }.each do |todo| %>
		<%= render :partial => "todo_rows", :locals => {:todo => todo} %>
		<% end %>
		
</table>

<h3>Todo-List</h3>

<table class="table_liquid" cellspacing="0">
    <caption></caption>

	<% @todos.select{|t| !t.contact.big_potential_deal? && t.next_action_id && t.contact_id && t.next_action.requires_phone_call && t.done != true }.sort{|x,y| x.followup_date <=> y.followup_date }.group_by{ |assignee| assignee.assigned_to }.each do |todo| %>
    <% if todo[1].first.assignee.name == current_user.name || [1,2,7].include?(current_user.id) %>
      <tr>
  			<%= render :partial => "todo_columns", :locals => {:assignee_name => "#{todo[1].first.assignee.name}'s"} %>
      </tr>	
  		<% todo[1].each_with_index do |t,i| %>
  			<%= render :partial => "todo_rows", :locals => {:todo => t} %>
    		<% if i == todo[1].size - 1 %>
    			<tr class="bg-none"><td colspan="11" style="border: none;"></td></tr>
    		<% end %>
  		<% end %>
    <% end %>
  <% end %>
</table>
</div>