<div class="jquery_tab">
	<div class="content_block">
		<h2 class="jquery_tab_title">Welcome <%= current_user.name.split(" ")[0] %>!</h2>
		<h2>Quicklinks</h2>

		<a class="dashboard_button button7" href="/contacts/new">
			<span class="dashboard_button_heading">+ New Lead</span>
			<span>Enter in a person's information</span>
		</a>
		<a class="dashboard_button button3" href="/campaigns/new">
			<span class="dashboard_button_heading">+ Campaign</span>
			<span>Add a new marketing campaign</span>
		</a>
		<a class="dashboard_button button6" href="/contacts/">
			<span class="dashboard_button_heading">Contacts</span>
			<span>List all contacts entered in the system</span>
		</a>
		<a class="dashboard_button button8" href="/campaigns">
			<span class="dashboard_button_heading">Campaigns</span>
			<span>Track the performance of your campaigns</span>
		</a>
		<a class="dashboard_button button9" href="/schedule">
			<span class="dashboard_button_heading">Schedule</span>
			<span>Coming Soon!</span>
		</a>

		<h2>Todo-List</h2>
		<a name="todo"></a>

		<%= render :partial => "todo_phone" %>
	</div><!--end content_block-->
</div><!-- end jquery_tab -->

