<ul>
	<li><a href="#">Dashboard</a></li>
	<li><a href="#">Entertainment</a></li>
	<li><a href="#">Finance</a></li>
	<li><a href="#">Food &#38; Cooking</a>
		<ul>
			<li><a href="http://www.google.com">Google</a>
			</li>
		</ul>
	</li>
</ul>
