<div class="jquery_tab">
	<div class="content_block">
		<h2 class="jquery_tab_title">See Everyone's TO-DO list</h2>


		<a name="todo"></a>
		
		<%= render :partial => "todo_phone" %>






	</div><!--end content_block-->
</div><!-- end jquery_tab -->

