<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @material_quantity_label.name %>
</p>


<%= link_to 'Edit', edit_material_quantity_label_path(@material_quantity_label) %> |
<%= link_to 'Back', material_quantity_labels_path %>
