<div id="estimate" style="width:750px; height:970px; margin:0px auto;">
	<h2><%= link_to "Edit this Estimate or Customer", 
		@estimate.job.contact, 
		class: "button blue-gradient icon-left" %></h2>

	<a href="#" id="print-link" class="button huge green-gradient icon-printer"> Print</a><br />
	<hr />
	
	<%= render :partial => "estimates/print_modal" %>
	
	<hr />
	<div class="noprint">
	<% if @estimate.wepay_checkout_records.length > 0 && @estimate.show_payment_buttons %>
	<h2>Payments already made</h2>
		<% for wcr in @estimate.wepay_checkout_records.select{|w| w.state == "captured" || w.state == "authorized"} %>
		<div class="wrapped relative">
			<span class="ribbon"><span class="ribbon-inner">Paid</span></span>
			<h3>A payment in the amount of $<%= wcr.amount %> was made on <%= wcr.updated_at.strftime("%m/%d/%Y") %></h3>
		</div>
		<% end %>
	<% end %>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$("#print-link").click(function() {
			window.print();
		})
	})
</script>


