<div id="estimate" style="width:750px; height:970px; margin:0px auto;">
	<h2><%= link_to "Edit this Estimate or Customer", 
		@estimate.job.contact, 
		class: "button blue-gradient icon-left" %></h2>

	<a href="#" id="print-link" class="button huge green-gradient icon-printer"> Print</a><br />
	<hr />
	
	<%= render :partial => "estimates/print_modal" %>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$("#print-link").click(function() {
			window.print();
		})
	})
</script>


