<% title "Edit Truck" %>

<%= render :partial => 'form' %>

<% content_for :subnav do %>
  <li class="action"><%= link_to "Cancel Editing", @truck %></li>
  <li class="action"><%= link_to "View All", trucks_path %></li>

<% end %>

