<ul>
	<li style="list-style-type:none;display:inline;"><%= link_to( library_file.library_file, "/download_file/#{library_file.id}" ) %></li>
	<li style="list-style-type:none;display:inline;"><%= icon_type( library_file.file_type ) %></li>
</ul>