<% if !@job.estimates.select{|e| e.sold? }.empty? %>
	<div class="job-sold">
		This job has been marked as sold!<br />
		<%= link_to "Click here to view the contract on the schedule", "/schedule" %>
		<br />
		<%= link_to "Print the original estimate", "#{print_modal_job_url(@job)}/?type=#{@job.job_type.kind.downcase}", :class => "iframe" %>
	</div>
<% else %>
	
	<h2>Print this Job Estimate</h2>
	<div>
		Print: <br />
		<p style="padding-left:30px;">
			<%= link_to "Standard estimate", "#{print_modal_job_url(@job)}/?type=standard", :class => "iframe" %><br />
		</p>	
	</div>
	<script type="text/javascript">
	function closeFancyboxAndRedirectToUrl(url){
	    $.fancybox.close();
	    window.location = url;
	}
	</script>
<% end %>

<br />

