<% if @job.estimates.select{|e| e.sold? }.empty? %>

	
	<h2>Print this Job Estimate</h2>
	<div>
		<p>
			<%= link_to "Print this Adhoc estimate", "#{print_modal_job_url(@job)}/?type=standard", :class => "fbox fancybox.iframe button blue-gradient glossy icon-printer" %><br />
		</p>	
	</div>
	<script type="text/javascript">
	function closeFancyboxAndRedirectToUrl(url){
	    $.fancybox.close();
	    window.location = url;
	}
	</script>
<% end %>

<br />

