
<% if @job.estimates.select{|e| e.sold? }.empty? %>
	
	<h2>Print this Job Estimate</h2>
	<div>
		<p>
			<%= link_to "Print this Gibraltar estimate", "#{print_modal_job_url(@job)}/?type=standard", :class => "fbox fancybox.iframe button blue-gradient glossy icon-printer" %><br />
		</p>	
	</div>
	<script type="text/javascript">
	function closeFancyboxAndRedirectToUrl(url){
	    $.fancybox.close();
	    window.location = url;
	}
	</script>
<% end %>

<br />
<h2>Type &amp; Off-Level Amounts</h2>
<p>
	The current price of <strong><%= money_from_cents @job.price_in_cents %></strong> is priced for an <strong><%= @job.job_type.kind %></strong> pad with an off-level amount of 
	
	<% if @job.off_level_amount_in_inches != nil %>
		<%= @job.off_level_amount_in_inches %>" included in the final price.
	<% else %>
		0" to 6" included in the final price.
	<% end %>
	
</p>
