<div class="row-fluid">
  <div class="span12">
    <div class="widget">
      <div class="widget-title">
        <div class="icon"><i class="icon20 i-file"></i></div> 
        <h4>Invoice <span class="invoice-num">#34512</span></h4>
        <div class="w-right">
          <button id="print-btn" class="btn btn-danger btn-full tip" title="Print invoice" rel="widget-content"><i class="icon20 i-print-2 gap-right0"></i></button>
        </div>
      </div><!-- End .widget-title -->
    
      <div class="widget-content printArea">
        <div class="row-fluid">
          <div class="page-header">
            <h2 class="center">Your logo</h2>
          </div>       
          <div class="pad5">Invoice <strong class="red">#34512</strong></div>
          <div class="pad5">May 10, 2013</div>
          <div class="pad5 red"><strong>Payment due by May 25, 2013</strong></div>
          <div class="row-fluid">
            <div class="span6 from">
              <div class="page-header">
                <h4>From:</h4>
              </div>
              <ul class="unstyled">
                <li><i class="icon16 i-arrow-right-3"></i>Your address</li>
                <li><i class="icon16 i-arrow-right-3"></i>Adress line</li>
                <li><i class="icon16 i-arrow-right-3"></i>Town</li>
                <li><i class="icon16 i-arrow-right-3"></i>Region/State</li>
                <li><i class="icon16 i-arrow-right-3"></i>Zip/Postal Code</li>
                <li><i class="icon16 i-arrow-right-3"></i>Phone: <span class="red-smooth"><strong>+040 / 111-111-111</strong></span></li>  
                <li><i class="icon16 i-arrow-right-3"></i>Fax: <span class="red-smooth"><strong>+040 / 222-222-222</strong></span></li>
              </ul>
            </div>
            <div class="span6 to">
              <div class="page-header">
                <h4>To:</h4>
              </div>
              <ul class="unstyled">
                <li><i class="icon16 i-arrow-right-3"></i>Your address</li>
                <li><i class="icon16 i-arrow-right-3"></i>Adress line</li>
                <li><i class="icon16 i-arrow-right-3"></i>Town</li>
                <li><i class="icon16 i-arrow-right-3"></i>Region/State</li>
                <li><i class="icon16 i-arrow-right-3"></i>Zip/Postal Code</li>
                <li><i class="icon16 i-arrow-right-3"></i>Phone: <span class="red-smooth"><strong>+040 / 111-111-111</strong></span></li>  
                <li><i class="icon16 i-arrow-right-3"></i>Fax: <span class="red-smooth"><strong>+040 / 222-222-222</strong></span></li>
              </ul>
            </div>
          </div><!-- End .row-fluid  -->
          <div class="row-fluid">
            <div class="span12">
              <h3>Items:</h3>
              <table class="table table-bordered">
                <thead>
                  <tr>
                  <th>Quantity</th>
                  <th>Description</th>
                  <th>Unit price</th>
                  <th>Discount</th>
                  <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                  <td class="center">1</td>
                  <td>Create logo for your firm</td>
                  <td class="center">50$</td>
                  <td class="center">10%</td>
                  <td class="center">$45</td>
                  </tr>
                  <tr>
                  <td class="center">2</td>
                  <td>Make a corporate style for your site</td>
                  <td class="center">1000$</td>
                  <td class="center">0</td>
                  <td class="center">$1000</td>
                  </tr>
                  <tr>
                  <td class="center">3</td>
                  <td>SEO optimization</td>
                  <td class="center">200$</td>
                  <td class="center">20%</td>
                  <td class="center">$160</td>
                  </tr>
                </tbody>
              </table>
              
            </div><!-- End .span12  --> 
          </div><!-- End .row-fluid  -->
          <div class="row-fluid">
            <div class="span6">
              <div class="page-header">
                <h3>Payment method</h4>
              </div>
              <ul class="unstyled">
                <li><h3>Payment method: <span class="red-smooth">SWIFT</span></h3></li>
                <li><i class="icon16 i-arrow-right-3"></i>Bank account #</li>
                <li><i class="icon16 i-arrow-right-3"></i>SWIFT code</li>
                <li><i class="icon16 i-arrow-right-3"></i>IBAN</li>
                <li><i class="icon16 i-arrow-right-3"></i>Billing address</li>
                <li><i class="icon16 i-arrow-right-3"></i>Name</li>
                <li><i class="icon16 i-arrow-right-3"></i>Email: <strong class="red-smooth">some@info.com</strong></li>
              </ul>
            </div><!-- End .span6  --> 
            
            <div class="span6">
              <div class="page-header">
                <h3>Amount Due</h3>
              </div>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th>Subtotal</th>
                    <td class="center">1205$</td>
                  </tr>
                  <tr>
                    <th>Tax</th>
                    <td class="center">100$</td>
                  </tr>
                  <tr>
                    <th>Shipping</th>
                    <td class="center">0$</td>
                  </tr>
                  <tr>
                    <th>Total</th>
                    <td class="center">1305$</td>
                  </tr>
                </tbody>
              </table>
            </div><!-- End .span6  --> 
          </div><!-- End .row-fluid  -->
        </div>       
      </div><!-- End .widget-content -->
    </div><!-- End .widget -->
  </div><!-- End .span12  -->  
</div><!-- End .row-fluid  -->