<script type="text/javascript">
	$(document).ready(function() {
		$(".empty").click(function() {
			console.log(this)
			var ele = this;
			$.get("/schedule/get_queued_for_dropdown", function(data) {
				var myHtml = "<select>";
				$(data).each(function() {
					myHtml += "<option value='" + this[0] + "'>" + this[1] + "</option>";
				})
				
				myHtml += "</select>";
				if ($($(ele).children('span')[1]).children('select').length == 0) {
					$($(ele).children('span')[1]).append(myHtml);
				}
				
			})
			return false;
		})
		
		$(".full").click(function() {
			return false;
		})
	})
</script>
