
<!-- Full Slot Click Menu -->
<div id="full_slot" class="contextMenu" style="display: none;">
	<h2></h2>
	<a class="schedule_button delete" href="#" onclick="return false;">
		<span class="schedule_button_heading">Un-Schedule from this day </span>
		<span>&nbsp;</span>
	</a>      
	<a class="schedule_button view" href="#" onclick="return false;">
		<span class="schedule_button_heading">View this Contract</span>
		<span>&nbsp;</span>
	</a>  
	<a class="schedule_button trash" href="#" onclick="return false;">
		<span class="schedule_button_heading">Remove from Schedule entirely</span>
		<span>&nbsp;</span>
	</a>    	  
</div>



<script type="text/javascript">
	$(document).ready(function() {
		$(".schedule_button").click(function() {
			doClicky(this)
		});
		
		function doClicky(spec) {
			if ($(spec).hasClass("empty")) {
				var ele = $(spec);
				$(ele).removeClass("empty").addClass("editing");
				
				$.get("/schedule/get_queued_for_dropdown", function(data) {
					var myHtml = "<select class='con-select'><option value='' selected='selected'></option>";
					$(data).each(function() {
						myHtml += "<option value='" + this[0] + "'>" + this[1] + "</option>";
					})
					
					myHtml += "</select>";
					if ($($(ele).children('span')[1]).children('select').length == 0) {
						$($(ele).children('span')[1]).append(myHtml);
						
						$(".con-select").change(function() {
							var ele2 = this;
							var strArr = ($(this).parent().parent().attr("id")).split("-");
							var crewId = strArr[1];
							var conPos = strArr[2];
							var day = strArr[3];
							var conId = $(this).val();

							if (crewId != "" && conPos != "" && day != "") {
								$.post("/schedule/persist_assignment", {
									crew_id: crewId,
									position: conPos,
									day: day,
									contract_id: conId
								}, function(data) {
									if (data != "false") {
										$(ele2).parent().parent().removeClass("editing").addClass("full");
										$($(ele2).parent().parent().children('span')[0]).text(data["conName"]);
										$($(ele2).parent().parent().children('span')[0]).prop("id", ("con-" + data["conId"]));
										$(ele2).parent().text(data["size"] + " in " + data["location"]);
									}
								})
							}
							return false;
						})
					}
				})
				return false;
			} else if ($(spec).hasClass("full")) {
				$("#full_slot").find("h2").html($(spec).find(".schedule_button_heading").html());
				$("#full_slot").modal({
					opacity:60,
					overlayCss: {backgroundColor:"#fff"}
				});
				var conId = $(spec).find(".schedule_button_heading").attr("id").split("-")[1];
				var the_clicked = $(spec);
				$(".schedule_button.delete").click(function(){
					$.post("/schedule/remove_assignment", { id: conId }, function(data) {
						$.modal.close();
						the_clicked.removeClass("full").addClass("empty")
						the_clicked.find("span").html("Empty");
					})
				});
				
				$(".schedule_button.view").click(function(){
					window.location.href = ("/schedule/redirect_to_contact/"+ conId);
				});
				
				return false;
			}
		}
	})
</script>

