<div id="queued_contracts">
	<h3>Unscheduled Contracts</h3>
	<div>
	<% for contract in @queued_contracts %>
		<p id="qc-<%= contract.id %>"><%= contract.estimate.job.name %><br />
			<%= contract.estimate.job.city_state %>
		</p>
	<% end %>
	</div>
</div>
