


<div style="position: fixed; background: #000; top: 5px; left: 5px; padding: 30px 50px; color: #fff; z-index: 9999; width: 230px;">
	<h3 style="color: #fff; ">Unscheduled Contracts</h3>
	<div>
	<% for contract in @queued_contracts %>
		<p><%= contract.estimate.job.name %><br />
			<%= contract.estimate.job.city_state %>
		</p>
	<% end %>
	</div>
</div>