<div class="jquery_tab">

    <div class="content_block">
		<!-- <h2 class="jquery_tab_title">Current Schedule</h2> -->
		<% last_day = @contracts.last.scheduled_date rescue Date.today + 5.day %>

		<% ((Date.today)..(Date.today + 14.days)).each do |day| %>
			<%= render :partial => "day_table", :locals => {:day => day} %>
		<% end %>

    </div>
</div>


<%= render :partial => "queued_contracts" %>

<%= content_for :js_bottom do %>
	<%= render :partial => 'persistence' %>
<% end %>
