<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @shed_company.company %>
</p>


<%= link_to 'Edit', edit_shed_company_path(@shed_company) %> |
<%= link_to 'Back', shed_companies_path %>
