<div class="jquery_tab">

    <div class="content_block">
        <h2 class="jquery_tab_title"><%= @page_title %></h2>


<table id="datatable" class="table_liquid" cellspacing="0"  data-source="<%= contacts_url(format: "json") %>">
	<thead>
  <tr style="text-align:'center';">
    <th>Name</th>
    <th>Status</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Campaign</th>
    <th>Actions</th>

  </tr>
	</thead>
</table>

<h2>Create a new Contact</h2>
<a class="dashboard_button button7" href="/contacts/new">
    <span class="dashboard_button_heading">+ New Lead</span>
    <span>Enter in a person's information</span>
</a><!--end dashboard_button-->


		</div>

</div>
<% content_for :js_bottom do %>
  <script>
  $(document).ready(function(){
    $("table#datatable").dataTable({
      sPaginationType: "full_numbers",
      bProcessing: true,
      bServerSide: true,
      sAjaxSource: $('table#datatable').data('source')
    });
    
  })
  </script>
<% end %>
