<h1>Editing job_addition</h1>

<%= render 'form' %>

<p style="margin: 10px 0;">
<%= link_to 'Back to Job', edit_job_path(@job_addition.job_id), class: "button white-gradient glossy icon-left" %>
</p>