<div class="jquery_tab">

    <div class="content_block">
        <h2 class="jquery_tab_title">Create a new Campaign</h2>

				<%= render :partial => 'form' %>

				<%= link_to "Cancel", campaigns_path %>
		</div>
</div>
