div.contract-notes {
  display:none;
}
div.contract-notes.has {
  display: block;
  width: auto; 
  background-color: #ff9; 
  color: #000; 
  margin: 0px 0px 0px; 
  font-size: 10px; 
  padding: 5px 10px;
}
div.scheduled_slot a.contract {
  padding: 5px 10px; 
  color: #111; 
  display:block; 
  font-size: 10px; 
  background-color: #abe;
  margin-bottom: 5px;
}

div.standalone.note {
  padding: 5px 10px; background-color: #ffd; color: #111; border: 1px solid #cc9;

}
div.standalone.note a:link {
  color: #000;
}
div.standalone.note:hover a:link {
  color: #369;
}
div.standalone.note a:hover {
  color: #369;
  text-decoration: none;
}
div.standalone.note a i {
  display: none;
  text-decoration: none;
}
div.standalone.note:hover a i {
  display: inline;
  color: #aa7;
}
a.empty-slot { 
  display: none;
}
a.empty-slot:only-child { 
  display: block !important;
}

.schedule_button.editing {
  border:3px solid #222;
}
.schedule_button.editing span {
  display: block;
}

.modal label.inline {
  display: inline;
}
.modal div.field {
  margin-bottom: 1em;
}
.modal label {
  margin-bottom: 3px !important;
}
.modal#editing_note div.modal-body, .modal#editing_note div.modal-footer {
  background-color: #eea !important;
  box-shadow: none;
}