<ul class="nav">
	<li><a class="headitem item1" href="/">Home</a>
		<ul class="opened">
		</ul>
	</li>
	<li><a class="headitem item4" href="/contacts">Customer Estimates</a>
		<ul class="opened">
			<li><a href="/contacts">Customer List</a></li>
		</ul>
	</li>
	<li><a class="headitem item5" href="/schedule/consolidated_printable">Schedule</a>
		<ul class="opened">
			<li><a href="/schedule/consolidated_printable">My Schedule</a></li>
			<li><a href="/schedule">Current Schedule</a></li>
			<li><a href="/schedule/printable">Printable Schedule</a></li>
		</ul>
	</li>
</ul><!--end subnav-->